@import "http://meyerweb.com/eric/tools/css/reset/reset.css";
@import "mixins";
@import "http://fonts.googleapis.com/css?family=Monoton";

@-webkit-keyframes light-sign {
  0%, 40%, 65%, 80% {
    color: #666;
    text-shadow: 0 0 2px #999;
  }
  
  30%, 60%, 75%, 100% {
    color: #65ebff;
    text-shadow: 0 0 10px #aef4ff;
  }
}

/*--------------------------- html5  ------------------*/
header, section, footer, aside, nav, article, figure { display: block; }

/*--------------------------- Clearfix  ------------------*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.icon {
  text-align: left;
  margin: 0;
  padding-left: 1.45em;
  height: 1.15em;
}

.hidden { text-indent: -9999px; overflow: hidden; }

.button {
  display: block;
  font-size: 1.8em;
  width: 10em;
  padding: 0.75em 0;
  text-align: center;
  color: #222;
  border: 2px solid #333;
  @include border-radius(10px);
  @include gradient-two(#ddd, #eee);
  @include box-shadow(-1px, -1px, 0, #fff);
  clear: both;
  text: { shadow: 1px 1px 1px rgba(65,65,65, 0.5); decoration: none; }
  &:hover { background: #333; color: #fff; }
}

section { width: 110em; margin: 0 auto; padding: 1em; }

h3 { font-size: 4.8em; margin: 0.75em 0; text-align: center; text-shadow: 1px 1px 1px #999; }

li, p, a { font-size: 1.6em;
  li, p, a { font-size: 1em; }
  ul { margin-left: 1.25em; }
}

p { line-height: 1.5em; margin-bottom: 0.94em; }

img { border: 3px solid #444; @include box-shadow(0px, 0px, 3px, rgba(0,0,0,0.65)); }

nav ul {
  li { float: left;
    a {
      padding: 0 1em;
      color: #fff;
      text-decoration: none;
      &:hover { color: #65ebff; text-shadow: 0 0 10px #aef4ff; }
    }
  }
}

body {
  font: { size: 62.5%; family: "Trebuchet MS", Arial, san-serif; }
  background: url(images/stone_bg.jpg) repeat left top;
}

header {
  height: 13em;
  color: #fff;
  hgroup {
    position: relative;
    width: 27.5em;
    height: 13em;
    background: url(images/logo.png) no-repeat left top;
    float: left;
    z-index: 3;
    h1 { color: #fff; }
    h2 {
      position: absolute;
      top: 2.5em;
      font-size: 2.1em;
      padding-left: 3.5em;
      span {
        font: { size: 1.71em; family: 'Monoton', cursive; }
        display: block;
        width: 100%;
        text-indent: -1em;
        color: #65ebff;
        -webkit-animation: light-sign 1s 1;
        text-shadow: 0 0 10px #aef4ff;
      }
    }
  }
  nav {
    float: right;
    width: 60em;
    padding-top: 4.5em;
    ul li a { font-size: 1.5em; }
  }
}

#content {
  @include gradient-two(#ddd, #f1f1f1);
  section {
    position: relative;
    #slider {
      width: 99em;
      margin: 0 auto 3em;
      img { margin-right: 1em; &.last { margin-right: 0; } }
    }
    a#slide-left,
    #slide-right {
      display: block;
      width: 60px;
      height: 152px;
      position: absolute;
      top: 10.5em;
      float: left;
      &:hover { background-position: center bottom; }
    }
    a#slide-left { background: url(images/slide-left-sprite.png) no-repeat center top; left: -1.3em; }
    a#slide-right { background: url(images/slide-right-sprite.png) no-repeat center top; right: -0.85em; }
    #featured {
      width: 100%;
      padding: 0 0 2em;
      .col {
        width: 33em;
        float: left;
        margin-right: 2em;
        padding: 1em;
        &.last { margin-right: 0; }
        &#bogey {
          width: 26em;
          margin-left: 7.5em;
          .bubble {
            padding: 2em;
            position: relative;
            background: #fff;
            border: 1px solid #333;
            @include border-radius(10px);
            @include speech-bubble;
            img { margin: 0 3.5em 1em; }
          }
        }
        h4 { font-size: 2.4em; margin-bottom: 1em; text-align: center; }
        #thumbs {
          width: 8em;
          float: left;
          img { margin-bottom: 0.5em; }
          & + p { float: right; width: 14.5em; }
        }
        .bubble { min-height: 24em; }
        #thumbs { min-height: 30em; }
        &.last p { margin-top: 1.26em; min-height: 10.1em; }
      }
      a.button {
        margin: 1em auto 0;
      }
    }
    img#bogey-img {
      position: absolute;
      bottom: 0;
      left: -18em;
      border: none;
      @include no-shadow;
    }
  }
}

body#about #content {
  img { float: right; }
  p { float: left; width: 45%; }
  #featured {
    clear: both;
    padding-top: 5em;
    img { margin: 0 0.5em 0.5em; }
    p { width: 100%; float: none; }
  }
}

body#contact #content {
  form {
    width: 40%;
    float: left;
    label {
      display: block;
      width: 100%;
      font-size: 1.6em;
      margin-bottom: 2em;
      span {
        width: 9.38em;
        display: block;
        float: left;
      }
      input {
        float: left;
        width: 12.5em;
        padding: 0.13em 0.31em;
      }
    }
  }
  #rightcol {
    width: 40%;
    float: right;
  }
}

footer {
  height: 8em;
  nav {
    margin-top: 1em;
    width: 50em;
    ul li { float: left; 
      a { color: #fff; padding: 0 1em; }
    }
  }
}

@media(max-width: 1200px) {
  section { width: 108em; }
  #content section {
    #featured {
      .col { width: 32em;
        #thumbs + p { width: 13.5em; }
      }
    }
    img#bogey-img {
      left: -8em;
      width: 20.5em;
      height: 23.7em;
    }
  }
}

@media(max-width: 1024px) /*(max-devise-width 1024px) and (orientation: landscap)*/ {
  section { width: 96em; }
  #content section {
    h3 { font-size: 4em; }
    #slider { width: 66em; }
    a#slide-left { left: 1em; }
    a#slide-right { right: 1em; }
    p { font-size: 1.4em; }
    #featured {
      .col { width: 28.5em;
        &#bogey { width: 23em; margin-left: 5.5em; }
        &.last img { width: 25em; height: 7.6em; }
        #thumbs {
          img { width: 75px; height: 75px; border: 2px solid #444; }
          &+ p { width: 13.5em; }
        }
      }
    }
    img#bogey-img {
      left: -8em;
      width: 20.5em;
      height: 23.7em;
    }
  }
}

@media (max-devise-width: 768px) and (orientation: landscape) {
  
}

@media (max-width: 600px) {
}
