@import "http://meyerweb.com/eric/tools/css/reset/reset.css";
@import "mixins";
@import "http://fonts.googleapis.com/css?family=Monoton";

@-webkit-keyframes light-sign {
  0%, 40%, 65%, 80% {
    color: #666;
    text-shadow: 0 0 2px #999;
  }
  
  30%, 60%, 75%, 100% {
    color: #65ebff;
    text-shadow: 0 0 10px #aef4ff;
  }
}

@-moz-keyframes light-sign {
  0%, 40%, 65%, 80% {
    color: #666;
    text-shadow: 0 0 2px #999;
  }
  
  30%, 60%, 75%, 100% {
    color: #65ebff;
    text-shadow: 0 0 10px #aef4ff;
  }
}

/*--------------------------- html5  ------------------*/
header, section, footer, aside, nav, article, figure { display: block; }

/*--------------------------- Clearfix  ------------------*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.icon {
  text-align: left;
  margin: 0;
  padding-left: 1.45em;
  height: 1.15em;
}

.hidden { text-indent: -9999px; overflow: hidden; }

.button {
  display: block;
  font-size: 1.8em;
  width: 10em;
  padding: 0.75em 0;
  text-align: center;
  color: #222;
  border: 2px solid #333;
  @include border-radius(10px);
  @include gradient-two(#ddd, #eee);
  @include box-shadow(-1px, -1px, 0, #fff);
  clear: both;
  text: { shadow: 1px 1px 1px rgba(65,65,65, 0.5); decoration: none; }
  &:hover { background: #333; color: #fff; }
}

section { width: 110em; margin: 0 auto; padding: 1em; }

h3 { font-size: 4.8em; margin: 0.75em 0; text-align: center; text-shadow: 1px 1px 1px #999; }
h4 { font-size: 2.4em; margin-bottom: 1em; }

li, p, a { font-size: 1.6em;
  li, p, a { font-size: 1em; }
  ul { margin-left: 1.25em; }
}

p { line-height: 1.5em; margin-bottom: 0.94em; }
a {
  color: #444;
  text: { decoration: underline; shadow: 1px 1px 1px rgba(101, 235, 255, 0.6); } 
  &:hover { color: #444; text-decoration: none; }
}

img { border: 3px solid #444; @include box-shadow(0px, 0px, 3px, rgba(0,0,0,0.65)); }

nav ul {
  li { float: left;
    a {
      padding: 0 1em;
      color: #fff;
      text: { decoration: none; shadow: none; }
      &:hover { color: #65ebff; text-shadow: 0 0 10px #aef4ff; }
    }
  }
}

body {
  font: { size: 62.5%; family: "Trebuchet MS", Arial, san-serif; }
  background: url(images/stone_bg.jpg) repeat left top;
}

header {
  height: 13em;
  color: #fff;
  hgroup {
    position: relative;
    width: 27.5em;
    height: 13em;
    background: url(images/logo.png) no-repeat left top;
    float: left;
    z-index: 3;
    h1 { color: #fff; }
    h2 {
      position: absolute;
      top: 2.5em;
      font-size: 2.1em;
      padding-left: 3.5em;
      span {
        font: { size: 1.71em; family: 'Monoton', cursive; }
        display: block;
        width: 100%;
        text-indent: -1em;
        color: #65ebff;
        -webkit-animation: light-sign 1s 1;
        text-shadow: 0 0 10px #aef4ff;
      }
    }
  }
  nav {
    float: right;
    width: 60em;
    padding-top: 4.5em;
    ul li a { font-size: 1.5em; }
  }
}

#content {
  @include gradient-two(#ddd, #f1f1f1);
  section {
    position: relative;
    #slider {
      width: 99em;
      margin: 0 auto 3em;
      img { margin-right: 1em; &.last { margin-right: 0; } }
    }
    a#slide-left,
    #slide-right {
      display: block;
      width: 60px;
      height: 152px;
      position: absolute;
      top: 10.5em;
      float: left;
      &:hover { background-position: center bottom; }
    }
    a#slide-left { background: url(images/slide-left-sprite.png) no-repeat center top; left: -1.3em; }
    a#slide-right { background: url(images/slide-right-sprite.png) no-repeat center top; right: -0.85em; }
    #featured {
      width: 100%;
      padding: 0 0 2em;
      .col {
        width: 33em;
        float: left;
        margin-right: 2em;
        padding: 1em;
        &.last { margin-right: 0; }
        &#bogey {
          width: 26em;
          margin-left: 7.5em;
          .bubble {
            padding: 2em;
            position: relative;
            background: #fff;
            border: 1px solid #333;
            @include border-radius(10px);
            @include speech-bubble;
            img { margin: 0 3.5em 1em; }
          }
        }
        h4 { text-align: center; }
        #thumbs {
          width: 8em;
          float: left;
          img { margin-bottom: 0.5em; }
        }
        &.shop p { float: right; width: 14.5em; }
        .bubble { min-height: 24em; }
        #thumbs { min-height: 30em; }
        &.last p { margin-top: 1.26em; min-height: 10.1em; }
      }
      a.button {
        margin: 1em auto 0;
      }
    }
    img#bogey-img {
      position: absolute;
      bottom: 0;
      left: -18em;
      border: none;
      @include no-shadow;
    }
  }
}

body#about #content {
  img { float: right; }
  p { float: left; width: 45%; }
  #featured {
    clear: both;
    padding-top: 5em;
    img { margin: 0 0.5em 0.5em; }
    p { width: 100%; float: none; }
  }
}

body#contact #content {
  form, #thank-you {
    width: 40%;
    float: left;
    label {
      display: block;
      width: 100%;
      font-size: 1.6em;
      margin-bottom: 0.75em;
      span {
        width: 9.38em;
        padding: 0.31em 0;
        display: block;
        float: left;
      }
      input, textarea {
        font-size: 1em;
        float: left;
        width: 17.2em;
        padding: 0.13em 0.31em;
        border: 2px solid #444;
        @include border-radius(2px);
        &:focus { border-color: #999; background: #ccc; }
      }
      textarea { height: 5em; }      
    }
    input[type=submit] { float: right; margin-top: 1em; }
  }
  #rightcol {
    width: 50%;
    float: right;
    ul { margin: 2em 2em 4em;
      li {
        font-size: 2.1em;
        margin-bottom: 0.5em;
        span { width: 4.38em; float: left; }
        &.padding { padding-left: 4.38em; }
      }
    }
  }
  #featured {
    .col { width: 32em;
      h4 { margin-top: 1em; }
      ul { list-style: disc;
        li { margin-bottom: 0.5em; 
          ul { list-style: circle; li { margin: 0.25em 0; } }
        }
      }
    }
  }
}

body#featured #content {
  .feature {
    border: 2px solid #333;
    @include border-radius(10px);
    @include gradient-two(#ddd, #eee);
    @include box-shadow(0, 0, 7px, rgba(0,0,0,0.65));
    width: 65%;
    float: left;
    padding: 2em;
    margin: 0 0 2em;
    img { margin: 0.5em; float: left; }
    p { clear: both; }
  }
  aside {
    float: right;
    padding: 1em;
    width: 27%;
    background: url(images/stone_bg.jpg) repeat left top;
    @include border-radius(5px);
    border: {
      top: 1px solid #555;
      left: 1px solid #555;
      bottom: 1px solid #999;
      right: 1px solid #999;
    }
    h4 { color: #fff; }
    ul {
      li {
        margin: 1em 0;
        a {
          font-size: 1.31em;
          color: #65ebff;
          text: { decoration: underline; shadow: 1px 1px 1px rgba(0, 0, 0, 0.65); } 
          &:hover { color: #444; text-decoration: none; }
        }
      }
    }
  }
}

footer {
  height: 8em;
  nav {
    margin-top: 1em;
    width: 50em;
    ul li { float: left; 
      a { color: #fff; padding: 0 1em; }
    }
  }
  #copyright {
    width: 100%;
    clear: both;
    p { color: #fff; }
  }
}

#privacy-policy {
  width: 60%;
  height: 40em;
  padding: 1em 2em;
  overflow: auto;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #444;
  p { font-size: 1.2em; color: #000; }
}

/*----- Shopping Cart ----*/
#shop {
  #content section {
    a {
      color: #444;
      text: { decoration: underline; shadow: 1px 1px 1px rgba(101, 235, 255, 0.6); } 
      &:hover { color: #444; text-decoration: none; }
      &.button {
        color: #222;
        text: { decoration: none; shadow: 1px 1px 1px rgba(65, 65, 65, 0.5); }
        &:hover { color: #fff; }
      }
    }
    menu { list-style: none;
      li { float: left; margin: 1em 0;
        a { padding: 0 1em; } }
    }
    #hello {
      float: right;
      background: url(images/stone_bg.jpg) repeat left top;
      margin-top: -1em;
      padding: 0.5em 1em;
      @include border-radius(0,0,7px,7px);
      p {
        float: left;
        width: auto;
        margin: 5px 20px 0 0;
        color: #fff;
        &.floatRight {
          float: right; margin-right: 0;
          a { color: #aef4ff; @include no-shadow; }
        }
      }
    }
    #total {
      h3 { text-align: center; }
      #checkout {
        .button {
          float: left;
          line-height: 0;
          margin-bottom: 15px;
          &.checkout {
            color: #222;
            text: { decoration: none; shadow: 1px 1px 1px rgba(65, 65, 65, 0.5); }
            border: 2px solid #333;
            @include border-radius(10px);
            @include gradient-two(#ddd, #eee);
            @include box-shadow(-1px, -1px, 0, #fff);
            &:hover { color: #fff; }
          }
        }
      }
    }
    #buy {
      width: 315px;
      margin: 0 auto;
      a.button { float: left; }
    }
    td.title {
      h3 { text-align: left; a { font-size: 0.23em; } }
    }
  }
  #summary {
    width: 80em;
    margin: 0 auto;
    #images { width: 40em; }
    #buy input.button { margin: 2em auto; }
  }
  footer nav { margin-bottom: 1em; }
}


@media(max-width: 1200px) {
  section { width: 108em; }
  #content section {
    #featured {
      .col { width: 32em;
        &.shop p { width: 13.5em; }
      }
    }
    img#bogey-img {
      left: -8em;
      width: 20.5em;
      height: 23.7em;
    }
  }
}

@media(max-width: 1024px) /*(max-devise-width 1024px) and (orientation: landscap)*/ {
  section { width: 96em; }
  #content section {
    h3 { font-size: 4em; }
    #slider { width: 66em; }
    a#slide-left { left: 1em; }
    a#slide-right { right: 1em; }
    p { font-size: 1.4em; }
    #featured {
      .col { width: 28.5em;
        &#bogey { width: 23em; margin-left: 5.5em; }
        &.last img { width: 25em; height: 7.6em; }
        &.shop p { width: 13.5em; }
        #thumbs img { width: 75px; height: 75px; border: 2px solid #444; }
      }
    }
    img#bogey-img {
      left: -8em;
      width: 20.5em;
      height: 23.7em;
    }
  }
}

@media(max-width: 760px) /* (max-devise-width: 768px) and (orientation: landscape)*/ {
  section { width: 60em; }
  header section {
    nav {
      width: 20em;
      float: right;
      padding-top: 0;
      ul li { float: none; }
    }
  }
  #content section {
    h3 { font-size: 2.4em; }
    #slider { width: 42em; }
    #featured {
      .col {
        width: 40em;
        margin: 2em auto;
        float: none;
        &#bogey { width: inherit;
          .bubble {
            background: none;
            min-height: 0;
            width: 100%;
            border: none;
            &:before, &:after { display: none; }
            img { float: left; }
            p { width: 70%; }
          }
        }
        &.shop {
          #thumbs { width: 100%; min-height: 0; 
            img { margin: 0 2.5em 1em; }
          }
          p { width: 100%; }
        }
        &.last { margin: 2em auto; }
      }
    }
    img#bogey-img { display: none; }
  }
}

@media (max-width: 600px) {
  section { width: inherit; }
  header section {
    hgroup { background-image: url(images/logo_small.png); }
  }
  #content section {
    #slider { width: 22em; }
  }
}
